node_modules
npm-debug.log
vendor
.env
.idea
.vscode
.git
.github
storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore
